* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Exclude build & vendor files from archives
/vendor/** export-ignore
/node_modules/** export-ignore
/public/build/** export-ignore
/storage/** export-ignore

# Lockfiles
composer.lock export-ignore
package-lock.json export-ignore

# Mark generated lockfiles as vendored for linguist
composer.lock linguist-vendored
package-lock.json linguist-vendored
